*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: black; */
}

.contain{
	display: flex;
	height: 500px;
	width: 800px;
	margin: auto;
	border: 1px solid black;
	margin-top: 50px;
	/* box-shadow: 20px 20px ; */
	/* background: black; */
}
.form{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	background-color: #9e9e9e;
}
.form h2{
	font-size: 3rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin:40px;
}

.box{
	padding: 12px;
	margin: 8px;
	border: 1px solid black;
	outline: none;
	border-radius: 20px;
	font-size: 18px;
	box-sizing: border-box;
}
.side{
	display: flex;
	width: 50%;
}
.side img{
	width: 399px;
}
#sub{
  margin:5px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(28, 167, 231);
}

.link {
	text-align: center;
	font-family: fantasy;
}
#message{
	font-size: 15px;
}